fastapi==0.135.2
faster-whisper==1.2.1
huggingface_hub==1.8.0
numpy==2.2.6
pyannote.audio==4.0.4
sounddevice==0.5.5
soundfile==0.13.1
spacy==3.8.13
torch==2.11.0+cpu
uvicorn==0.42.0
webrtcvad-wheels==2.0.14
websockets==16.0
en-core-web-sm==3.8.0
